{{ .Name }}

Hello {{ .City }}!

Let's gather again at our meetup sponsored by {{ .Sponsor }}!

Our Speaker:
{{ range .Speakers }}•  {{ .Name }}, {{ .Position }} @ {{ .Company }} sharing with us on "{{ .Title }}"
{{ end }}

The meetup will be held on {{ .Date }}, at {{ .Place }}. Doors will be open at {{ .Time }}. 

RSVP your seat at {{ .RegistrationURL }} . See you!
Tags: {{ range .Tags }}#{{ . }} {{ end }}
